#home
{
    height: auto;
    padding: 58px;
}


#clients{
    overflow: hidden;
}

#services
{
    flex-direction: column;
    flex-wrap: wrap;
}

#navbar
{
    flex-direction: column;
}

.hPrimary
{
    font-size: 32px;
}

#home{
    height: 435px;
}

#services .box
{
    margin: 4px;
    margin-bottom: 35px;
}

#clients
{
    flex-wrap: wrap;
}

#clients img {
    height: 75px;
}

.clientItem
{
    padding: 20px;
    margin: 10px;
}

#contactBox form {
    width: 55%;
}